.search {
  position: sticky;
  top: 0;
}

ion-grid {
  --ion-grid-padding: var(--spacing-small);
}

.thumbnail {
  display: flex;
  justify-content: center;
  margin-bottom: 6%;
}

.secondary-price {
  font-size: 14px;
  color: var(--ion-color-step-500);
}

.overview {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  .amount h3 {
    margin: 0;
    font-size: 24px;
  }
}

.detail {
  flex-shrink: 0;
  flex-grow: 1;
  width: 100%;

  ion-row {
    padding: var(--spacing-small) 0;
    border-top: solid 1px var(--ion-color-border);
  }
}

ion-row[text-center] {
  text-align: center;
}

ion-col[text-right] {
  text-align: right;
  span {
    display: block;
  }
}

main {
  display: flex;
  flex-direction: column;
}
