:host {
  position: relative;
  display: flex;
  align-items: center;
  padding: var(--spacing-small);
  overflow: hidden;

  &.no-padding {
    padding: 0;
  }

  * {
    user-select: none;
  }
}

span code {
  color: var(--ion-color-danger);
  margin-left: var(--spacing-tiny);
  &::before {
    content: '!';
  }
}

p {
  margin-top: 0;
  margin-bottom: var(--spacing-tiny);
}

.sio-wallet-item__title {
  flex-grow: 1;
  flex-shrink: 0;
  margin: 0 var(--spacing-small);
}

.sio-wallet-item__error > p {
  color: var(--ion-color-danger-shade);
}

.sio-wallet-item__balance {
  flex-grow: 0;
  flex-shrink: 0;
  text-align: right;
}

.sio-wallet-item__reorder {
  flex-grow: 0;
  flex-shrink: 0;
  text-align: right;
}

.platform-container {
  position: absolute;
  top: 48px;
  left: 50px;
  transform: scaleX(0.7) scaleY(0.7);
}

:host[ng-reflect-thumb-scale='small'] {
  .platform-container {
    top: 43px;
    left: 48px;
  }
}

:host[ng-reflect-thumb-scale='tiny'] {
  .platform-container {
    top: 39px;
    left: 39px;
  }
}
