<div class="connection-prompt" *ngIf="!(isConnected$ | async)">
  <span>{{ $.DISCONNECTED | translate }}</span>
</div>
<main>
  <router-outlet></router-outlet>
</main>

<sio-tapbar *ngIf="tapbarVisibility$ | async">
  <ng-template #tapbarTemplate let-url>
    <sio-tap-button
      id="sio-t-btn--wallet"
      [navigateTo]="['/home', 'wallets']"
      [current-url]="url"
      [title]="$.WALLETS | translate"
    >
      <ion-icon name="wallet-outline"></ion-icon>
    </sio-tap-button>

    <!-- <sio-tap-button id="sio-t-btn--swap" [navigateTo]="['/home', 'swap']" [state]="{ purchases: true }" [current-url]="url">
      <ion-icon name="analytics-outline"></ion-icon>
    </sio-tap-button> -->

    <sio-tap-action id="sio-t-btn--action" (click)="showActions()">
      <sio-button shape="circle" [no-padding]="true" [is-block]="false" [variant]="0">
        <ion-icon name="swap-vertical-outline"></ion-icon>
      </sio-button>
    </sio-tap-action>

    <sio-tap-button
      id="sio-t-btn--swap"
      [navigateTo]="['/home', 'swap']"
      [state]="{ purchases: true }"
      [current-url]="url"
      [title]="$.SWAPS | translate"
    >
      <ion-icon name="repeat-outline"></ion-icon>
    </sio-tap-button>

    <!-- <sio-tap-button id="sio-t-btn--card" [navigateTo]="['/home', 'card']" [current-url]="url">
      <ion-icon name="card-outline"></ion-icon>
    </sio-tap-button>

    <sio-tap-button id="sio-t-btn--user" [navigateTo]="['/home', 'user']" [current-url]="url">
      <ion-icon name="person-outline"></ion-icon>
    </sio-tap-button> -->
  </ng-template>
</sio-tapbar>
