:host {
  display: block;
  text-align: center;
  user-select: none;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: content-box;
  padding-top: var(--spacing-medium) !important;
  padding-bottom: var(--spacing-medium) !important;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  // color: var(--ion-text-color);
  line-height: 1;
}

span {
  color: var(--ion-color-step-350);
  font-size: 0.85rem;
  margin: 0;
  margin-bottom: var(--spacing-tiny);
}
