:host {
  display: block;
}

section {
  border-radius: var(--main-border-radius);
  overflow: hidden;

  & > * {
    border-bottom: solid 1px var(--ion-border-color);
    &:last-of-type {
      border-bottom: none !important;
    }
  }

  &.is-disabled {
    box-shadow: none !important;
    background-color: var(--ion-color-translucent);
  }
}

body.dark {
  :host section {
    background-color: var(--ion-color-translucent);

    &.is-disabled {
      box-shadow: inset 0 0 0 1px var(--ion-border-color) !important;
      background-color: var(--ion-background-color);
    }
  }
}

body.light {
  :host section {
    box-shadow: var(--sio-box-shadow);
  }
}
