<div *ngIf="loading$ | async; else content" class="loading">
  <ion-spinner></ion-spinner>
</div>

<ng-template #content>
  <sio-simple-page [scroll]="false">
    <sio-header>
      <sio-header-button slot="header-left" (click)="back()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </sio-header-button>

      <sio-header-button
        id="sio-t-btn--close"
        slot="header-right"
        [enable]="false"
      ></sio-header-button>
    </sio-header>

    <h1>{{ $.RECOVERY_SEED_INSERT | translate }}</h1>
    <section class="seeds">
      <div
        class="seed btn ion-activatable ripple-parent"
        *ngFor="let word of seedValue; let i = index"
        (click)="openModal(i, word)"
        [class]="{ 'is-filled': isFilled(word) }"
      >
        <ion-icon
          *ngIf="isFilled(word) && !wrongSeed; else wordNumberRef"
          name="checkmark-outline"
        ></ion-icon>
        <ng-template #wordNumberRef>
          <span *ngIf="!wrongSeed; else wordRef">{{ i + 1 }}</span>
        </ng-template>
        <ng-template #wordRef>
          <span>{{ word }}</span>
        </ng-template>
        <ion-ripple-effect type="bounded"></ion-ripple-effect>
      </div>
    </section>
  </sio-simple-page>
</ng-template>
