angular.json
tslint.json
tsconfig.json
package.json
package-lock.json

src/polyfills.ts
src/test.ts
src/assets/js/*
src/assets/icon/*
src/assets/**/*.sql
resources/*

android/app/src/main/assets/public/*
ios/App/*
www/*

tsconfig.app.json
tsconfig.e2e.json
tsconfig.spec.json
tsconfig.worker.json

*.yml
*.md

.jshintrc
.prettierrc
.prettierignore
.gitmodules
.gitlab-ci.yml

*.gradle
*.xml
ios/App/Podfile

*.pbxproj
*.yaml
*.yml
