:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex-grow: 1;
  display: flex;
  height: calc(100% - (var(--sizing-element-medium) + var(--spacing-small)));
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: var(--spacing-small);
  color: var(--ion-text-color);

  header {
    // color: var(--ion-text-color);
    text-align: center;

    p {
      margin: 0;
    }

    h3 {
      font-size: 24px;
      text-align: center;
      margin: 0;
      width: 100%;
    }
    span {
      font-size: 14px;
      color: var(--ion-color-step-500);
    }
  }

  sub {
    font-size: 11px;
    opacity: 0.8;
  }
}

.select-wallet-button {
  flex-shrink: 0;
  flex-grow: 0;
  padding: 0 var(--spacing-small) var(--spacing-small) var(--spacing-small);
}

.scene {
  position: relative;
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  margin-top: 20px;
}

/*background darker blue right side, has to be relative to the area we want to make the contrat with*/
.scene:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.fa-rocket {
  position: absolute;
  top: 50%;
  left: 49.3%;
  transform: translate(-50%, -50%) rotate(-45deg);
  color: var(--ion-color-primary);
  font-size: 14vw !important;
  animation: arocket 0.2s linear infinite;
  text-shadow: -10px 15px 10px rgba(0, 0, 0, 0.2);
}

.cloud {
  position: absolute;
  color: var(--ion-color-step-200);
  animation: acloud 1.8s linear infinite;
}

.cloud1 {
  left: 10%;
  font-size: 6vw;
}

.cloud2 {
  left: 45%;
  font-size: 5vw;
  z-index: -1;
  animation-delay: -0.8s;
}

.cloud3 {
  right: 20%;
  font-size: 3vw;
  animation-delay: -0.4s;
}

@keyframes arocket {
  0% {
    transform: translate(-50%, -50%) rotate(-45deg) translate(0, 0);
  }
  50% {
    transform: translate(-50%, -50%) rotate(-45deg) translate(-5px, 5px);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-45deg) translate(0, 0);
  }
}

@keyframes acloud {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(1000%);
  }
}
