<sio-simple-page [scroll]="false">
  <sio-header>
    <sio-header-button slot="header-left" [routerLink]="'/login'">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </sio-header-button>
    <sio-header-button slot="header-right" [enable]="false"></sio-header-button>
  </sio-header>

  <ion-grid>
    <ion-row class="title">
      <ion-col>
        <ion-text>
          <h1>{{ $.ENTER_EMAIL_ADDRESS | translate }}</h1>
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="col-form">
        <form [formGroup]="formField">
          <ion-item>
            <ion-label position="floating">{{ $.EMAIL | translate }}</ion-label>
            <ion-input
              id="sio-t-inp--email"
              formControlName="email"
              autofocus
              name="email"
              type="email"
              required
              mode="md"
              (keyup.enter)="onSubmit()"
            ></ion-input>
          </ion-item>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div slot="footer" class="footer-padding">
    <ion-button
      id="sio-t-btn--submit"
      expand="block"
      mode="ios"
      [disabled]="!isValid"
      (click)="onSubmit()"
      >{{ $.SEND | translate }}
    </ion-button>
  </div>
</sio-simple-page>
