<sio-simple-page>
  <!-- HEADER -->
  <sio-header>
    <sio-header-button slot="header-left" (click)="cancelTransaction()">
      <ion-icon name="close-outline"></ion-icon>
    </sio-header-button>

    <span slot="header-title">{{ $.RECEIVE | translate }}</span>
    <sio-header-button slot="header-right" [enable]="false"></sio-header-button>
  </sio-header>

  <ion-grid>
    <ion-row class="qrcode" *ngIf="isInitialized">
      <ion-col>
        <ngx-qrcode
          [elementType]="'canvas'"
          [value]="currentAddress"
          [scale]="7"
          [margin]="3"
          cssClass="sio-qr"
          qrc-errorCorrectionLevel="L"
        ></ngx-qrcode>
      </ion-col>
    </ion-row>
    <ion-row class="title" *ngIf="isInitialized">
      <ion-col>
        <p>{{ $.RECEIVE_TITLE | translate }}</p>
        <p>{{ $.RECEIVE_DESC | translate }}</p>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="isInitialized">
      <ion-col>
        <p class="address">
          {{ currentAddress }}
        </p>
      </ion-col>
    </ion-row>
    <ion-row class="title-init" *ngIf="!isInitialized">
      <ion-col>
        <p>{{ $.INIT_SPL_TOKEN_WARNING | translate }}</p>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!isInitialized">
      <ion-col>
        <ion-button mode="ios" (click)="presentCreateTokenAccountPrompt()">{{
          $.INIT_SPL_TOKEN_BUTTON | translate
        }}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div slot="footer">
    <!-- Wallet Selection -->
    <sio-wallet-item-select
      [wallet]="wallet"
      [fiatValue]="fiatValue | fiat"
      [rate]="rate"
      [currency]="currency"
      [label]="$.SELECT_WALLET | translate"
      [locale]="locale"
      (click)="openSelectWalletModal()"
    >
    </sio-wallet-item-select>

    <!-- Next Button -->
    <div class="select-wallet-button">
      <ion-button
        mode="ios"
        expand="block"
        [disabled]="!isInitialized"
        (click)="copy(currentAddress)"
        >{{ $.COPY_ADDRESS | translate }}</ion-button
      >
    </div>
  </div>
</sio-simple-page>
