:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

main,
footer {
  padding: var(--spacing-small);

  ion-col {
    margin-right: var(--spacing-small);

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.loading {
  width: 100vw;
  height: 100vh;
  background: var(--ion-background-color);
  display: grid;
  place-content: center;
}
