ion-grid {
  padding: 0 var(--spacing-small);
}

.row--password {
  margin-bottom: var(--spacing-small);
}

ion-item {
  width: 100%;
}

.info {
  font-size: 14px;
  text-align: center;
  color: var(--ion-color-step-500);
}

li {
  margin: 10px 0;
  transition: visibility 0s linear 0.7s, opacity 0.9s ease-in-out, font-weight 0.5s linear;

  &.visible {
    transition-delay: 0s;
    visibility: visible;
    font-weight: 600;
    opacity: 1;
  }

  &.hidden {
    opacity: 0.3;
    font-weight: 400;
    color: var(--ion-color-step-400);
  }
}
