<section class="title-container title-top">
  <h1>{{ $.CREATE_PASSWORD_TITLE | translate }}</h1>
</section>

<form [formGroup]="formField">
  <ion-grid class="grid--form">
    <ion-row class="row--form row--password">
      <ion-col>
        <sio-password
          [formControlName]="PASSWORD"
          [placeholder]="$.PASSWORD | translate"
          [has-number-placeholder]="$.PASSWORD_REQUIRE_NUMBER | translate"
          [has-symbol-placeholder]="$.PASSWORD_REQUIRE_SYMBOL | translate"
          [has-upper-placeholder]="$.PASSWORD_REQUIRE_UPPER | translate"
          [min-length-placeholder]="minLengthText"
          [autofocus]="true"
          [control]="formField.get(PASSWORD)"
          (keyup.enter)="onSubmit()"
        ></sio-password>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>

<div class="footer-floating">
  <ion-button
    id="sio-t-btn--submit"
    [disabled]="!isValid"
    (click)="onSubmit()"
    expand="block"
    mode="ios"
    >{{ $.NEXT | translate }}
  </ion-button>
</div>
