:host {
	position: fixed;
	z-index: 100;
	background-color: white;
	box-shadow: var(--sio-box-shadow);
	height: var(--sizing-element-medium);
	min-width: var(--sizing-element-medium);
	border-radius: 30em;
	overflow: hidden;
	bottom: var(--spacing-small);
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	align-items: center;
}