:host {
  width: 120px;
  height: 160px;
}

main {
  padding: var(--spacing-tiny) 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: var(--main-border-radius);
  box-shadow: var(--sio-box-shadow);
}

.progress__container {
  flex-grow: 1;
  display: grid;
  place-content: center;
  position: relative;
}

#ProgressBar {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  .backdrop {
    stroke: var(--ion-color-translucent);
  }
}

.content {
  width: 100%;
  display: flex;
  // padding-left: var(--spacing-smallest);
  flex-direction: column;
  // padding-bottom: ;
}

.content__balance {
  padding: var(--spacing-tiny);
  text-align: center;
  // display: flex;
  // justify-content: space-between;
  // align-items: center;

  p {
    font-size: 14px;
    margin: 0;
  }

  span {
    font-size: 12px;
    color: var(--ion-color-step-400);
  }
}

.bar {
  position: relative;
  margin: var(--spacing-smallest) 0;
  height: 4px;
  width: 100%;
  background-color: var(--ion-color-translucent);
  border-radius: 30em;
  overflow: hidden;
}

.bar__fill {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}

.delayed {
  display: flex;
  align-items: center;
  margin-top: var(--spacing-tiny);
  * {
    margin: 0;
    font-size: 14px;
    color: var(--ion-color-danger) !important;
  }

  ion-icon {
    margin-right: var(--spacing-tiny);
  }
}

body.dark {
  :host {
    main {
      background-color: var(--ion-color-translucent);
    }

    .bar {
      box-shadow: 0 0 0 1px var(--ion-color-step-300);
    }
  }
}
