<div
  class="thumbnail-container"
  [class]="{ 'has-notification': !transaction.confirmed }"
  [attr.data-notification-type]="getNotificationType(transaction)"
>
  <sio-wallet-thumbnail [iconID]="transaction.ticker"></sio-wallet-thumbnail>
</div>

<div class="title">
  <p>{{ transaction.address | address: 3 }}</p>
  <span>{{ transaction.ticker }}</span>
</div>
<div class="balance">
  <p>
    {{ transaction.amount }}
    {{ transaction.ticker }}
  </p>
  <span *ngIf="transaction.confirmed; else unconfirmedRef">{{
    transaction.date | date: 'MMM dd, yyyy, HH:mm'
  }}</span>
  <ng-template #unconfirmedRef>
    <span>{{ unconfirmedMsg }}</span>
  </ng-template>
</div>

<ng-content></ng-content>
