<ion-item>
  <ion-label position="floating">
    {{ placeholder }}
  </ion-label>
  <ion-input
    id="'sio-t-inp--password'"
    name="password"
    [type]="inputType"
    [autofocus]="autofocus"
    [formControl]="passwordForm"
    [required]="required"
    [clearOnEdit]="false"
    mode="md"
  ></ion-input>
  <ion-icon (click)="toggleVisibility()" slot="end" [name]="icon"></ion-icon>
</ion-item>

<div *ngIf="isRemainder" class="remainder">
  <div *ngIf="options.minLength" class="remainder-item" [class]="{ 'is-valid': results.minLength }">
    <div class="check">
      <ion-icon name="checkmark-outline"></ion-icon>
    </div>
    <p>{{ minLengthPlaceholder }}</p>
  </div>

  <div *ngIf="options.hasUpper" class="remainder-item" [class]="{ 'is-valid': results.hasUpper }">
    <div class="check">
      <ion-icon name="checkmark-outline"></ion-icon>
    </div>
    <p>{{ hasUpperPlaceholder }}</p>
  </div>

  <div *ngIf="options.hasNumber" class="remainder-item" [class]="{ 'is-valid': results.hasNumber }">
    <div class="check">
      <ion-icon name="checkmark-outline"></ion-icon>
    </div>
    <p>{{ hasNumberPlaceholder }}</p>
  </div>

  <div *ngIf="options.hasSymbol" class="remainder-item" [class]="{ 'is-valid': results.hasSymbol }">
    <div class="check">
      <ion-icon name="checkmark-outline"></ion-icon>
    </div>
    <p>{{ hasSymbolPlaceholder }}</p>
  </div>
</div>
