:host {
  display: block;
  padding: var(--spacing-smaller) var(--spacing-small);
}

main {
  display: grid;
  grid-template-rows: auto auto;
  border-radius: var(--main-border-radius);
  box-shadow: var(--sio-box-shadow);
  background-color: var(--ion-background-color);
}

p {
  margin: 0;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: var(--spacing-smaller);
}


.top__left,
.top__right {
  flex-grow: 1;
  flex-shrink: 1;
}

.top__right {
  width: 100px;
  display: flex;
  justify-content: flex-end;
}

.top__left {
  display: flex;
  align-items: center;

  >div {
    display: flex;
    flex-direction: column;
    margin-left: var(--spacing-smaller);

    span {
      font-size: 12px;
      color: var(--ion-color-step-450)
    }
  }
}

.bottom>div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom {
  padding: var(--spacing-smaller);

  .title--secondary {
    p {
      font-size: 12px;
      color: var(--ion-color-step-450);
    }
  }
}

body.dark {
  :host main {
    background-color: var(--ion-color-translucent);
  }
}
