.avatar {
  width: 30px;
  border-radius: 50%;
}

.swap-page {
  display: flex;
  flex-flow: column;
}

ion-title {
  text-align: left;
}

h1 {
  margin: 0;
}

ion-list.has-tapbar {
  padding-bottom: calc(
    var(--sizing-element-medium) + (var(--sizing-element-medium) / 2) + constant(safe-area-inset-bottom)
  ) !important;
  padding-bottom: calc(
    var(--sizing-element-medium) + (var(--sizing-element-medium) / 2) + env(safe-area-inset-bottom)
  ) !important;
}

.group-separator {
  &::before {
    content: '';
    display: block;
    height: 1px;
    background-color: var(--ion-color-border);
    margin: var(--spacing-smaller) var(--spacing-small);
  }
}

.actions {
  padding: var(--spacing-smaller) var(--spacing-small);
}

.section-header {
  padding: var(--spacing-smaller) var(--spacing-small);
}

.section-action {
  display: flex;
  align-items: center;
  border-radius: 30em;
  border: var(--main-border);
  padding: var(--spacing-tiny) var(--spacing-smallest);
  font-size: 14px;

  span {
    font-size: 12px;
    text-transform: uppercase;
    margin-right: 3px;
  }

  &.is-filled {
    background-color: var(--ion-color-primary);
    color: var(--button-text-color);
    border-color: var(--ion-color-primary);
  }
}

.dash__amount {
  height: 33vh;
  display: grid;
  place-content: center;
  text-align: center;
  h1 {
    font-size: 32px;
  }

  span {
    font-size: 14px;
    color: var(--ion-color-step-350);
    margin-bottom: var(--spacing-tiny);
  }
}

.header-container {
  sio-round-button {
    float: right;
    margin: 0 var(--spacing-small) 0 auto;
    z-index: 2;
  }
}

.loading {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: var(--ion-background-color);
}

ion-slides {
  padding: 4px 0;
  padding-bottom: var(--spacing-small);

  ion-slide:first-of-type {
    margin-left: var(--spacing-small);
  }
}

.swiper-wrapper {
  padding: 0 var(--spacing-small);
}

ion-slide {
  width: 120px;
  margin-right: var(--spacing-small);
}

.empty__transactions {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: var(--ion-color-step-350);
  z-index: 1;
}

ion-segment {
  --offset-bottom: auto!important;
  --overflow: hidden;
  border-bottom: 1px solid #f2f2f2;
  position: fixed;
  background: var(--ion-background-color);
  z-index: 10;
  width: 100%;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}
ion-segment-button{
  text-transform: none !important;
  --indicator-height: 1px;
  margin: 30px 0 0 0;
}

section.tab-container{
  margin-top: 87px;
}

ion-label {
  padding: 0px 20px;
}
