<div [innerHTML]="TERMS_AND_CONDITIONS"></div>

<form [formGroup]="formField">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label class="label">{{ $.I_HAVE_READ_TERM_CONDITION | translate }}</ion-label>
          <ion-checkbox [formControlName]="AGREEMENT" color="primary"></ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label class="label optional"
            >{{ $.OPTIONAL | translate }}: {{ $.MARKETING_AGREEMENT | translate }}</ion-label
          >
          <ion-checkbox [formControlName]="MARKETING" color="primary"></ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>

<div slot="footer" class="footer-padding">
  <ion-button
    id="sio-t-btn--no"
    expand="block"
    color="secondary"
    mode="ios"
    (click)="onSubmit(false)"
    >{{ $.BACK | translate }}
  </ion-button>

  <ion-button
    id="sio-t-btn--yes"
    expand="block"
    mode="ios"
    (click)="onSubmit(true)"
    [disabled]="!formField.valid"
    >{{ $.NEXT | translate }}</ion-button
  >
</div>
