<sio-simple-page>
  <sio-header>
    <sio-header-button slot="header-left" (click)="back(wallet)">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </sio-header-button>

    <span slot="header-title">{{ $.LINKED_EMAIL | translate }}</span>
    <sio-header-button slot="header-right" [enable]="false"></sio-header-button>
  </sio-header>

  <ion-grid>
    <ion-row>
      <ion-col>
        <form [formGroup]="formField">
          <p>{{ getDescription }}</p>
          <ion-item>
            <!-- <ion-label position="floating">{{ $.LINK_DESCRIPTION | translate }}</ion-label> -->
            <ion-input
              formControlName="account"
              [autofocus]="true"
              readonly
              type="text"
              required
              mode="md"
            ></ion-input>
          </ion-item>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div slot="footer" class="footer-padding">
    <ion-button expand="block" mode="ios" (click)="unlink()" [disabled]="!isLinked">{{
      $.UNLINK_ADDRESS | translate
    }}</ion-button>
  </div>
</sio-simple-page>
