:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: var(--sizing-element-medium);
  width: 3.6em;
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
  font-size: 18px;
  color: var(--button-text-color);
}

span {
  font-size: 9px;
  margin-top: 4px;
}
