<div *ngIf="loading$ | async; else content" class="loading">
  <ion-spinner></ion-spinner>
</div>

<ng-template #content>
  <h1>{{ $.RECOVERY_SEED_INSERT | translate }}</h1>
  <section class="seeds">
    <div
      class="seed btn ion-activatable ripple-parent"
      *ngFor="let word of seedValue; let i = index"
      (click)="openModal(i, word)"
      [class]="{ 'is-filled': isFilled(word) }"
    >
      <ion-icon
        *ngIf="isFilled(word) && !wrongSeed; else wordNumberRef"
        name="checkmark-outline"
      ></ion-icon>
      <ng-template #wordNumberRef>
        <span *ngIf="!wrongSeed; else wordRef">{{ i + 1 }}</span>
      </ng-template>
      <ng-template #wordRef>
        <span>{{ word }}</span>
      </ng-template>
      <ion-ripple-effect type="bounded"></ion-ripple-effect>
    </div>
  </section>
</ng-template>
