<sio-simple-page [hasHeader]="false">
  <main class="content">
    <header>
      <p>{{ $.STAKE_HAS_BEEN_SUCCESSFUL | translate }}</p>
      <h3>{{ amount | balance: wallet.ticker:wallet.type:wallet.decimal }} {{ wallet.ticker }}</h3>
    </header>
    <div class="scene">
      <sio-rocket></sio-rocket>
    </div>
  </main>

  <!-- Next Button -->
  <div class="select-wallet-button">
    <ion-button mode="ios" expand="block" (click)="onDone()">{{ $.DONE | translate }}</ion-button>
  </div>
</sio-simple-page>
