<sio-simple-page *ngIf="buyTransaction$ | async as buyTransaction">
  <sio-header>
    <sio-header-button slot="header-left" (click)="back()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </sio-header-button>

    <span slot="header-title">{{ $.CHECKOUT | translate }}</span>

    <sio-header-button slot="header-right" [enable]="false"></sio-header-button>
  </sio-header>

  <main>
    <div class="overview">
      <ion-grid>
        <ion-row class="amount" text-center>
          <ion-col>
            <span>{{ buyTransaction?.pair?.SourceCurrencyDisplay }}</span>
            <h3>{{ buyTransaction?.convert?.SourceCurrentAmount }}</h3>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <ion-grid class="detail">
      <ion-row>
        <ion-col size="6">
          <span>{{ $.ESTIMATED_AMOUNT | translate }}</span>
        </ion-col>
        <ion-col size="6" text-right>
          <p>
            {{ buyTransaction?.convert?.TargetEstimatedWithdrawalAmount }}
            {{ buyTransaction?.pair?.TargetCurrency }}
          </p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <span>{{ $.GUARANTEED_AMOUNT | translate }}</span>
        </ion-col>
        <ion-col size="6" text-right>
          <p>
            {{ buyTransaction?.convert?.TargetGuaranteedWithdrawalAmount }}
            {{ buyTransaction?.pair?.TargetCurrency }}
          </p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <span>{{ $.SOURCE_TRANSACTION_FEE | translate }}</span>
        </ion-col>
        <ion-col size="6" text-right>
          <p>{{ buyTransaction?.convert?.SourceCurrentAmountFee }} {{ buyTransaction?.pair?.SourceCurrencyDisplay }}</p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <span>{{ $.DESTINATION_ADDRESS | translate }}</span>
        </ion-col>
        <ion-col size="6" text-right> {{ buyTransaction?.source?.address }} </ion-col>
      </ion-row>
    </ion-grid>
  </main>

  <div slot="footer" class="select-wallet-button">
    <ion-button expand="block" mode="ios" (click)="onSubmit()">{{ $.NEXT | translate }}</ion-button>
  </div>
</sio-simple-page>
